.fan-container{
    width: 55px;
    #Fan_ok {

      .cls-1 {
        fill: none;
        stroke-width: 4px;
        stroke: url(#Fan_green);
      }
  
      .cls-1,
      .cls-4 {
        stroke-miterlimit: 10;
      }
  
      .cls-2 {
        fill: #ccc;
      }
  
      .cls-3 {
        fill: url(#Fan_green);
  
  
        // -webkit-animation: rotate 15s linear infinite;
        // -moz-animation: rotate 15s linear infinite;
        // -ms-animation: rotate 15s linear infinite;
        // -o-animation: rotate 15s linear infinite;
        // animation: rotate 15s linear infinite;
        // transform-origin: center
      }
  
      .cls-4 {
        fill: #fff;
        stroke: #999;
        stroke-width: 2.18px;
      }
  
  
    }
  
    #Fan_err {
      .cls-1 {
        fill: none;
        stroke-width: 4px;
        stroke: url(#Fan_red);
      }
  
      .cls-1,
      .cls-4 {
        stroke-miterlimit: 10;
      }
  
      .cls-2 {
        fill: #ccc;
      }
  
      .cls-3r {
        fill: url(#Fan_red);
      }
  
      .cls-4 {
        fill: #fff;
        stroke: #999;
        stroke-width: 2.18px;
      }
  
    }
  
    #Fan_off {
      .cls-1 {
        fill: none;
        stroke: #b3b3b3;
        stroke-width: 4px;
      }
  
      .cls-1,
      .cls-4 {
        stroke-miterlimit: 10;
      }
  
      .cls-2 {
        fill: #ccc;
      }
  
      .cls-3o {
        fill: #b3b3b3;
      }
  
      .cls-4 {
        fill: #fff;
        stroke: #999;
        stroke-width: 2.18px;
      }
  
    }
  
    @keyframes rotate {
      from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }
  
      to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
}
